@tailwind base;
@tailwind components;
@tailwind utilities;

/* STYLES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: RobotoB;
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoM;
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoR;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoI;
    src: url(../assets/fonts/Roboto/Roboto-MediumItalic.ttf);
}
.circle{
    border-radius: 50%;
}
header{
    background-image: url(../assets/Images/pexels-diimejii-3118214.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
header>section>p{
    text-shadow: 2px 2px black ;
    
}
.visions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.image1{
    width: 35rem;
    height: 25rem;
}

@media screen and (min-width: 1024px) {
    .visions>div{
        width: auto;
        height: auto;
    }
}

@media screen and (min-width:768px) {
    .visions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-content: center;
    padding: 3rem 5rem 2rem 5rem;
}
/* .visions>div{
    width: 20rem;
    height: 17rem;
    }  */ 
    .image1{
        width: 50rem;
        height: 25rem;
    }
    #event-Images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        place-content: center;
    }
}

.About{
    background-image: url(../assets/Images/img_1_1719672710234.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px black;
}
.animate {
    animation-name: slide;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-out;
}
@keyframes slide {
    0%{
        transform: translate(0);
    }
    35%{
        background: url(../assets/Images/IMG-20240629-WA0006.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
    70%{
        background: url(../assets/Images/img_1_1720134507946.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100%{
        background-image: url(../assets/Images/img_1_1719672710234.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

}

/*  npx tailwindcss -i ./src/css/input.css -o ./src/css/output.css --watch */